<?xml version="1.0" encoding="utf-8" ?>
<preference>
  <!-- 首次使用 -->
  <isFirstUsing>False</isFirstUsing>
  <!-- 发送邮件的Email -->
  <email></email>
  <!-- 接收邮件的Email -->
  <to></to>
  <!-- 抄送到的Email -->
  <with></with>
  <!-- 每天什么时候发送? -->
  <when>17:50</when>
  <!-- 如果内容为空, 这发送以下字符串作为当天日志内容 -->
  <empty>Hello World</empty>
  <!-- 是否提示发送周报 -->
  <report>true</report>
  <!-- 存放日志的目录 -->
  <directory>MyLogs</directory>
  <!-- Readme.md文件的物理路径 -->
  <readme>README.md</readme>
  <!-- Welcome -->
  <welcome>Welcome to use Log Mail *^_^*</welcome>
</preference>