<?xml version="1.0" encoding="utf-8" ?>
<preference>
  <!-- 首次使用 -->
  <isFirstUsing>True</isFirstUsing>
  <!-- SMTP Server -->
  <smtp>smtpcom.263xmail.com</smtp>
  <!-- 发送邮件的Email -->
  <email></email>
  <!-- 登录密码 -->
  <password></password>
  <!-- 接收邮件的Email -->
  <to></to>
  <!-- 抄送到的Email -->
  <with></with>
  <!-- 每天什么时候发送? 暂时不使用 -->
  <when>17:50</when>
  <!-- 如果内容为空, 这发送以下字符串作为当天日志内容 -->
  <empty>Hello World</empty>
  <!-- 是否提示发送周报 暂时不使用 -->
  <report>true</report>
  <!-- 存放日志的目录 -->
  <directory>MyLogs</directory>
  <!-- Readme.md文件的物理路径 -->
  <readme>README.md</readme>
  <!-- subject text -->
  <subject>工作日志</subject>
  <!-- footer text -->
  <foot>-- 来自LogMail日志助手, 领导再也不担心我忘记发日志了.</foot>
</preference>